-- Exa 0
1
X
2
X
Y
1
X

1
-- Exa 1
1
ABCXD
1
BCDEF
1
CD

3
-- Exa 2
2
WE
LOVE
3
WORKING
FOR
SANTA
1
JK

0
-- Exa 3
1
ABCDE
1
CDEAB
1
B

2
-- Exa 4
3
ABCABDEGAXAHDJBAAHFJDXBB
ABHFHCDALFDJDBBA
BABBAXAXXX
3
ABLOCBAXBAHAJDXBIJKA
JBABCDAHKFIUDALPJAH
AABACX
2
AXBADXBBAB
CDD

23
